@inherits LayoutComponentBase

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<MudAppBar Class="white" Style="z-index:3;">
    <MudCarousel Style="height:50px; width: 50px; padding:0px; margin:0px;" ShowArrows=false ShowBullets=false AutoCycle=false TData="object" SelectedIndex=index @onmouseenter=@IconMouseOver @onmouseleave=@IconMouseOut>
        <MudCarouselItem Class="d-flex align-center justify-center" Transition=Transition.Fade Color="@Color.Inherit">
            <MudIcon Icon="@Icons.Material.Filled.Circle" Size="@Size.Large" Style="color: darkslategray"/>
        </MudCarouselItem>
        <MudCarouselItem Class="d-flex align-center justify-center" Transition=Transition.Fade Color="@Color.Inherit">
            <MudIcon Icon="@Icons.Material.Filled.Camera" Size="@Size.Large" Style="color: limegreen"/>
        </MudCarouselItem>
    </MudCarousel>
    <div class="d-flex align-self-center">
        <SVG width="Width.md" height="25" />
    </div>
    <MudSpacer />
    <CustomButton Text="Home" Path="/"/>
    <CustomButton Text="About" Path="/About"/>
    <CustomButton Text="Work" Path="/Work"/>
</MudAppBar>

<MudLayout Style="z-index:0; margin-bottom:70px;">
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<MudImage Src="resources/tree-oval.svg" Style="position:fixed; margin:0px; padding-bottom:0px; right:0px; bottom:0px; width:22vw; user-select:none; z-index:-1; " />
<MudAppBar Bottom="true" Color="Color.Dark" Style="overflow:hidden; z-index:0; padding:0;" Class="d-flex">
    <MudContainer Class="align-self-start">
        <MudText Typo="Typo.body2" Align="Align.Center" Class="align-self-start" Style="padding:0px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            Contact
        </MudText>
        <MudText Typo="Typo.body2" Align="Align.Center" Class="align-self-start" Style="margin:0px; padding:0px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; letter-spacing:-0.5px;">
            Email : andrei.popescu29@yahoo.com
        </MudText>
        <MudText Typo="Typo.body2" Align="Align.Center" Class="align-self-start" Style="margin:0px; padding:0px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; letter-spacing:-1px;">
             tel. : +40 733 216 828
        </MudText>
    </MudContainer>
    <MudImage Src="resources/tree-circle.svg" Style="z-index:0; position:fixed; margin:0px; padding-bottom:0px; left:0px; bottom:0px; width:20vw; user-select:none;" />

</MudAppBar>


@code{
    int index = 0;

    private void IconMouseOver()
    {
        index = 1;
    }
    private void IconMouseOut()
    {
        index = 0;
    }
}